<!-- Main -->
					<article id="main">
						<header>
							<h2>PRICING POLICY</h2>							
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<p><strong>Subscription Prices and Schedule of Payment </strong></p>
								<p><span style="font-weight: 400;">Planet Clubs offers you a range of prices, based on the class of clubs and the number of enrolments bought. Please note the following:</span></p>
								<ol>
								<li style="font-weight: 400;"><span style="font-weight: 400;">The membership is valid for one calendar year from the date of purchase (until same day and month, next year)</span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">Each enrolment is for one calendar month (until same day, next month) </span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">The prices are subject to revision without notice every three months </span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">New prices are applicable only on new purchases, so if the user bought something on old price, the service will continue on old price </span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">In the remote case of any discrepancy between the prices on the website and the prices on the phone app, the phone app data will take precedence &nbsp;</span></li>
								</ol>
								<p>&nbsp;</p>
								<p><span style="font-weight: 400;">The current prices (in Indian Rupees/INR) are as under: </span></p>
								<p>&nbsp;</p>
								<table>
								<tbody>
								<tr>
								<td>
								<p><strong>Club Class</strong></p>
								</td>
								<td>
								<p><strong>1 Enrolment</strong></p>
								</td>
								<td>
								<p><strong>3 Enrolments</strong></p>
								</td>
								<td>
								<p><strong>6 Enrolments</strong></p>
								</td>
								<td>
								<p><strong>12 Enrolments</strong></p>
								</td>
								</tr>
								<tr>
								<td>
								<p><strong>Silver</strong></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">899</span></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">2,497</span></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">4,244</span></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">7,889</span></p>
								</td>
								</tr>
								<tr>
								<td>
								<p><strong>Gold</strong></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">1,549</span></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">4,299</span></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">7,308</span></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">11,895</span></p>
								</td>
								</tr>
								<tr>
								<td>
								<p><strong>Platinum</strong></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">2,355</span></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">5,944</span></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">9,959</span></p>
								</td>
								<td>
								<p><span style="font-weight: 400;">15,999</span></p>
								</td>
								</tr>
								</tbody>
								</table>
								<p>&nbsp;</p>
								<p><strong>Class Upgrades</strong></p>
								<p><span style="font-weight: 400;">You may upgrade your subscription to a higher class, say from a Silver to Gold or Gold to Platinum. We have a proprietary algorithm that determines the difference in price that you will need to pay for the upgrade, which takes into consideration the number of unused enrolments that need to be upgraded, as well as the core price difference, among other things. The upgrade price that you&rsquo;d see on the screen is the final, non-negotiable price. </span></p>
								<p>&nbsp;</p>
								<p><strong>Price Matching</strong></p>
								<p><span style="font-weight: 400;">We strive to get our users the best value, which is a mixture of price, flexibility and convenience. Therefore, we do not compare our prices with other providers of similar service and do not claim to match prices. </span></p>
								<p>&nbsp;</p>
								<p><strong>Sale Adjustment</strong></p>
								<p><span style="font-weight: 400;">If an item you have purchased is reduced in price within two weeks of your order date, we will happily adjust the sale price for you. Please note that we can only make one sale adjustment per item and designer goods originally purchased on sale are excluded.</span></p>
								<p>&nbsp;</p>
								<p><strong>Pricing Errors</strong></p>
								<p><span style="font-weight: 400;">We work hard to ensure the accuracy of pricing. Despite our efforts, in the remote chance that a pricing errors, we will cancel your purchase and notify you of the cancellation.</span></p>
								<p>&nbsp;</p>
								<p><strong>Refunds</strong></p>
								<p><span style="font-weight: 400;">Our refund policy is very simple. Please refer to our refund policy for details. </span></p>
								<p>&nbsp;</p>
							</div>
						</section>
								
					</article>