<!-- Contact Us -->

<!-- Main -->
<article id="main">
	<header>
		<h2>Everyone loves choice. Your employees too.</h2>
		<p>Planet Clubs for Corporates is a platform for your employees to use fitness facilities and clubs of their choice, without a need for multiple negotiations or agreements.</p>
	</header>
	<!-- One -->
					<section id="one" class="wrapper style1 special center">
						<div class="inner">
							<div class="row">
					        <div class="col-md-3">
					          
					          <img src="images/features/agreements.png" width="200px;" height="150px;">
					          <h6>No hassle of multiple <br>agreements<br>&nbsp;</h6>
					          </div>
					        <div class="col-md-3">
					          
					          <img src="images/features/employees.png" width="200px;" height="150px;">
					          <h6>Happier, Healthier<br> Employees<br>&nbsp;</h6>
					          </div>
					        <div class="col-md-3">
					          
					          <img src="images/features/program.png" width="200px;" height="150px;">
					          <h6>Economical & Efficient<br> Program<br>&nbsp;</h6>
					          </div>
					        <div class="col-md-3">
					          
					          <img src="images/features/global.png" width="200px;" height="150px;">
					          <h6>Choice of several <br>clubs, globally</h6>
					          </div>
					      </div>
						</div>
					</section>
					
					
					<section class="wrapper style5">
						<div class="inner">
				
							<section>
								<h4>Get in Touch</h4>
								<form method="post" action="/rest/emailservice/enrollcorporate" ng-submit="submit()">
									<div class="row uniform">
										<div class="4u 12u$(xsmall)">
											<input type="text" name="name" id="name" value="" ng-model="name" required="required"
												placeholder="Company Name" />
										</div>
										<div class="4u 12u$(xsmall)">
											<input type="text" name="city" id="city" value="" ng-model="city" required="required"
				 								placeholder="City" />
										</div>
										<div class="12u 12u$(xsmall)">
											<select name="category" id="category" ng-model="category" required="required">
												<option value="">- Number of employees -</option>
												<option value="1 - 100">1 - 100</option>
												<option value="100 - 1000">100 - 1000</option>
												<option value="1000 - 5,000">1000 - 5,000</option>
												<option value="5,000 +">5,000 +</option>
											</select>
										</div>
										
										<div class=" 4u 12u$(xsmall)">
											<input type="text" name="contact" id="contact" value="" ng-model="contact"
				 								placeholder="Contact Person" />
										</div>
										<div class=" 4u 12u$(xsmall)">
											<input type="email" name="email" id="email" value="" ng-model="email"
				 								placeholder="Email" />
										</div>
										<div class=" 4u 12u$(xsmall)">
											<input type="text" name="number" id="number" value="" ng-model="number"
				 								placeholder="Telephone Number" />
										</div>
										
										<div class="12u$">
											<ul class="actions">
												<li><input type="submit" value="Submit"
													class="special" onclick="submit()"/></li>
												<li><input type="reset" value="Reset" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
				
						</div>
					</section>
					
					
					
					<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Steps To Onboard</h2>
								<p></p>
							</header>
							<ul class="features">
								<li>
								<img src="images/steps/step1.png" width="40px;" height="40px;">
									<h3>Step 1</h3>
									<p>Discuss your specific requirement with us  </p>
								</li>
								<li>
								<img src="images/steps/step2.png" width="40px;" height="40px;">
									<h3>Step 2</h3>
									<p>Sign the agreement between your company and us </p>
								</li>
								<li>
								<img src="images/steps/step3.png" width="40px;" height="40px;">
									<h3>Step 3</h3>
									<p>Inform employees and get them to start using the platform </p>
								</li>
								<li>
								<img src="images/steps/step4.png" width="40px;" height="40px;">
									<h3>Step 4</h3>
									<p>Reap your benefits! </p>
								</li>								
							</ul>
						</div>
					</section>
	
</article>