<!-- Contact Us -->

<!-- Main -->
<article id="main">
	<header>
		<h2>Partner With Planet Clubs</h2>
		<p>Be part of the largest fitness chain in the country</p>
	</header>
	<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<div class="row">
					        <div class="col-md-3">
					          
					          <img src="images/features/revenue.png" width="200px;" height="150px;">
					          <h6>Increased Footfall<br> & Revenue<br>&nbsp;</h6>
					          </div>
					        <div class="col-md-3">
					          
					          <img src="images/features/listing.jpg" width="200px;" height="150px;">
					          <h6>Listing on Planet Clubs<br> phone app <br>&nbsp;</h6>
					          </div>
					        <div class="col-md-3">
					          
					          <img src="images/features/payments.png" width="200px;" height="150px;">
					          <h6>Prompt Weekly payments<br>&nbsp;</h6>
					          </div>
					        <div class="col-md-3">
					          
					          <img src="images/features/support.png" width="200px;" height="150px;">
					          <h6>Discounted Maintenance <br>& Support</h6>
					          </div>
					      </div>
						</div>
					</section>
					
					
					<section class="wrapper style5">
						<div class="inner">
				
							<section>
								<h4>Get in Touch</h4>
								<form method="post" action="/rest/emailservice/enrollclub" ng-submit="submit()">
									<div class="row uniform">
										<div class="4u 12u$(xsmall)">
											<input type="text" name="name" id="name" value="" ng-model="name" required="required"
												placeholder="Name" />
										</div>
										<div class="4u 12u$(xsmall)">
											<div class="select-wrapper">
												<select name="clubType" id="clubType" ng-model="clubType" required="required">
													<option value="">- Club Type -</option>
													<option value="gym">Gym</option>
													<option value="yoga">Yoga</option>
													<option value="Saloon">Saloon</option>													
													<option value="parlor">Parlor</option>
													<option value="sports">Sports</option>
													<option value="academy">Academy</option>
													<option value="other">Other</option>
												</select>
											</div>
										</div>
										<div class="4u 12u$(xsmall)">
											<input type="text" name="pincode" id="pincode" value="" ng-model="pincode" required="required"
				 								placeholder="Pin Code" />
										</div>
										<div class="6u 12u$(xsmall)">
											<input type="text" name="telephone" id="telephone" value="" ng-model="telephone" required="required"
				 								placeholder="Telephone" />
										</div>
										<div class=" 6u 12u$(xsmall)">
											<input type="email" name="email" id="email" value="" ng-model="email"
				 								placeholder="Email" />
										</div>
										
										<div class="12u$">
											<ul class="actions">
												<li><input type="submit" value="Submit"
													class="special" onclick="submit()"/></li>
												<li><input type="reset" value="Reset" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
				
						</div>
					</section>
					
					
					
					<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Steps To Onboard</h2>
								<p></p>
							</header>
							<ul class="features">
								<li>
								<img src="images/steps/step1.png" width="40px;" height="40px;">
									<h3>Step 1</h3>
									<p>Fill the online form to express interest </p>
								</li>
								<li>
								<img src="images/steps/step2.png" width="40px;" height="40px;">
									<h3>Step 2</h3>
									<p>We will call to schedule a site visit </p>
								</li>
								<li>
								<img src="images/steps/step3.png" width="40px;" height="40px;">
									<h3>Step 3</h3>
									<p>If your club meets our minimum standards, we will onboard you within 48 hours </p>
								</li>
								<li>
								<img src="images/steps/step4.png" width="40px;" height="40px;">
									<h3>Step 4</h3>
									<p>Reap your benefits! </p>
								</li>								
							</ul>
						</div>
					</section>
	
</article>