<!-- About Us -->

<!-- Main -->
					<article id="main">
						<header>
							<h2>Frequently Asked Questions (FAQ)</h2>
							<!-- <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p> -->
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<p><strong>1.What type of clubs are covered under PlanetClubs?</strong></p>
								<p><span style="font-weight: 400;"><strong>Ans:</strong> We cover gyms, health clubs, swimming pools, tennis clubs, badminton clubs, yoga classes, aerobics sessions, martial arts classes, fitness oriented dance classes, resorts and parlors </span></p>
								<p><strong><strong>&nbsp;2.&nbsp;</strong></strong><strong>Is there any restriction on which type of clubs that I can use?</strong></p>
								<p><span style="font-weight: 400;"><strong>Ans:</strong> No, there is no restriction from PlanetClubs point of view. However, please check age and other requirements of each individual club before using it. </span></p>
								<p><strong><strong>&nbsp;3.&nbsp;</strong></strong><strong>Can I use multiple facilities in a given day? For example, gym in the morning and yoga at another place in the evening?</strong></p>
								<p><span style="font-weight: 400;"><strong>Ans:</strong> Absolutely. In fact, you may use as many facilities across as many clubs as you want. The only restriction is that you can&rsquo;t check into a club&rsquo;s facility if you have an ongoing activity there. For example, if you have checked into a gym and have not yet checked out (or haven&rsquo;t yet been timed out), you can&rsquo;t check into the same gym again. </span></p>
								<p><strong>&nbsp;4.</strong>&nbsp;<strong>If I have accidentally checked into a club, even though I haven&rsquo;t been there, what will happen?</strong></p>
								<p><span style="font-weight: 400;"><strong>Ans:</strong> For such scenarios, we have a facility of cancelling the check-in within 2 minutes, as long as the club has not approved it. So, if you have checked in by mistake, you can press the &ldquo;Cancel check-in&rdquo; button within 120 seconds. But, if the club has approved, you will have to contact us by email. We will do a quick check, and if everything checks out fine, we will reimburse your points within 48 hours. </span></p>
								<p><strong>&nbsp;5.</strong>&nbsp;<strong>Can I share my PlanetClubs membership with my friends and family?</strong></p>
								<p><span style="font-weight: 400;"><strong>Ans:</strong> Yes, as long as they satisfy individual clubs&rsquo; requirements. For instance, if a gym doesn&rsquo;t allow someone below 16 years of age, you can&rsquo;t share it with a younger child. </span></p>
								<p><strong>6. Will my membership carry over to next year, if I haven&rsquo;t fully utilized it?</strong></p>
								<p><span style="font-weight: 400;"><strong>Ans:</strong> Yes. The membership points do NOT expire, so you always have them in your kitty. </span></p>
								<p><strong>7. There are a few services in my club that are not covered by PlanetClubs. Can I still pay with my points?</strong></p>
								<p><span style="font-weight: 400;"><strong>Ans:</strong> Unfortunately, you can&rsquo;t. You can only pay for services and facilities listed in the app. For everything else, you need to pay directly to the club. However, we are working hard to ensure most, if not all, services are added to the platform. </span></p>
																
							</div>
						</section>
					</article>