<!-- Main -->
<article id="main">
	<header>
		<h2>Reset Password</h2>
		<p>Reset your password.</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">

			<section>
				<h4>Enter your new password</h4>
				<form name="form" method="post" action="/rest/userservice/resetpassword" ng-submit="submit()">
					<div class="row uniform">
						<div class="12u$" style="display: none;">
							<input type="text" name="token" id="token" value="" ng-model="token"
								placeholder="token" />
						</div>
						<div class="12u$">
							<input type="password" name="password" id="password" value="" ng-model="password"
								placeholder="Password" required="required" minlength=6/>
						</div>
						<div class="12u$">
							<input type="password" name="confirmpassword" ng-model="confirmpassword"
								id="confirmpassword" required="required" value="" placeholder="Confirm Password" />
						</div>
						
						<div class="12u$">
							<span ng-show="(confirmpassword && (!(password == confirmpassword)))" style="color:red;">Both passwords does not match.</span>
						</div>
						<div class="12u$">
							<span style="color:red" ng-show="form.password.$error.minlength">
        					Password should contain minimum 6 characters.</span>
						</div>

						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Update" class="special" ng-disabled="!(password == confirmpassword)"/></li>
							</ul>
						</div>
					</div>
				</form>
				<div ng-show="error" class="alert alert-danger">{{error}}</div>
    			<div ng-show="success" class="alert alert-success">{{success}}</div>
			</section>

		</div>
	</section>
</article>