<!-- About Us -->

<!-- Main -->
					<article id="main">
						<header>
							<h2>About Us</h2>
							<p></p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<p align="justify"><strong><span style="font-weight: 400;"><b>PlanetClubs</b> was conceived from a real problem faced by its founders themselves- that of being tied to a single fitness provider even when situations changed. A craving to tear apart such restrictions gave rise to the concept, which was then designed and developed by actively involving market players like fitness experts, gyms and gym goers. The team that built and currently maintains this platform is a unique mix of wisdom, experience, energy and expertise. Our motto is to unify fitness related service providers across geographies, and to simplify their access for clients. Our service partners also benefit from our economies of scale, and branding. Here is the team that makes it all happen:</span></strong></p>
							
							<div class="col-md-12">
							  <div class="thumbnail">
							    <img src="../../images/arshad.jpg" align="middle" alt="ceo image" class="img-circle" style="background-repeat: no-repeat; border-radius: 50%;  display: block; margin-left: auto; margin-right: auto;"/>
							    <div class="caption">
							      <h3 align="center">Arshad Tanveer</h3>
							      <p align="center"><i>Founder & Chief Executive Officer </i></p>
							      <p align="justify">
							      "Arshad is a technology industry veteran, with two decades of international experience in Product Management, Enterprise Architecture, User Experience Design and large Program Executions. An Engineering graduate from Osmania University, he was previously a Vice President at Morgan Stanley and Associate Director at D. E. Shaw. He is also a Certified CEO Coach and a Business Transformation Consultant, working with companies across the world."
							      </p>
							    </div>
							  </div>
							</div>
							<div class="row">
							<div class="col-sm-6 col-md-6" >
							  <div class="thumbnail">
							    <!-- <img src="../../images/arshad.jpg" align="middle" alt="ceo image" class="img-circle" style="background-repeat: no-repeat; border-radius: 50%;  display: block; margin-left: auto; margin-right: auto;"/> -->
							    <div class="caption">
							      <h3 align="center">Ashish Payal</h3>
							      <p align="center"><i>Co-founder & Product Strategist </i></p>
							      <p align="justify">
							      "Ashish is an enthusiastic, innovative technologist, having knowledge and deep interest in product strategies and design. A Post Graduate student from Pune University, exploring unknown territory in technology keeps him excited. He believes in providing reliable solutions to real world problems, with great user experience and excellent customer relations."
							      </p>
							    </div>
							  </div>
							</div>
							
							<div class="col-sm-6 col-md-6">
							  <div class="thumbnail">
							    <!-- <img src="../../images/arshad.jpg" align="middle" alt="ceo image" class="img-circle" style="background-repeat: no-repeat; border-radius: 50%;  display: block; margin-left: auto; margin-right: auto;"/> -->
							    <div class="caption">
							      <h3 align="center">Sandip Bhagat</h3>
							      <p align="center"><i>Co-founder & Principal Technologist  </i></p>
							      <p align="justify">
							      "Sandip is an avid technology enthusiast, having deep knowledge and experience in various technologies. A Computer Engineering Post Graduate student from Mumbai University, he is a self motivated individual and likes to solve difficult problems using technology."
							      </p>
							    </div>
							  </div>
							</div>
							</div>
							</div>
						</section>
					</article>