<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div><img alt="" src="images/logo.png" height="100"/></div>
							<h2>Planet Clubs</h2>
							<p>Fitness Unchained<br />
							<ul class="actions">
								<li><a href="https://play.google.com/store/apps/details?id=com.ionicframework.planetclubs1654922&hl=en" class="button special" target="_blank">Download App</a></li>
							</ul>
						</div>
						<a class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Pay once, use anywhere</h2>
								<p>Imagine the convenience of signing up for one membership, and getting the flexibility of using different gyms, sports clubs, group classes, and even spas, spread across several cities and towns. Imagine the convenience of choosing what you do, and when. Imagine a membership that doesn’t tie you down but liberates. Now, don’t just imagine. Enrol in PlanetClubs, and get fit. </p>
							</header>							
							<ul class="icons major">
								<li><span class="icon fa-bicycle major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-futbol-o major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Super Flexibility</h2>
								<p>You just buy a Planet Clubs membership and instantly gain access to several health and fitness related facilities across locations. Your membership gives you the freedom to switch clubs every month if you wish to. So, you may go to a gym for a few days and then decide on swimming classes for the next month, and so on.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Bonus Free Usage Privileges (FUPs)</h2>
								<p>Your membership gives you complimentary Free Usage Privileges (FUPs), with each enrollment. These give you access to thousands of add-on services which include pay-as-you-go access to most health clubs, sports facilities, parlors and resorts.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Facilities Galore</h2>
								<p>PlanetClubs's partnerships cover gyms, health clubs, swimming pools, group classes like aerobics or yoga, tennis clubs, martial art centers, and even spas. And all these, spread across the country. While the membership is valid for one year, the FUPs never expire- if you have FUPs left over, they will remain until you use them or the world ends (whichever comes first). 
</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/zumba.jpg" alt="" /></div><div class="content">
								<h2>Find clubs and facilities around you </h2>
								<p>No matter where you are, if there is a PlanetClubs partner facility around, you will find it. The location-aware app shows which ones are around you. You can also search by city, locality, or type of facility. You may then enroll or use FUPs to use any of the thousands of options across the nation (and very soon, beyond).</p>
							</div>
						</section>
						 
						
					</section>
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Membership Details</h2>
							<table>
							<tbody>
							<tr>
							<td>&nbsp;</td>
							<td>
							<p><strong>Silver</strong></p>
							</td>
							<td>
							<p><strong>Gold</strong></p>
							</td>
							<td>
							<p><strong>Platinum</strong></p>
							</td>
							</tr>
							<tr>
							<td>
							<p><strong>Monthly</strong></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: Rs. 1,099</span></p>
							<p><span style="font-weight: 300;">FUPs: 100</span></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: Rs. 1,999</span></p>
							<p><span style="font-weight: 300;">FUPs: 150</span></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: 2,999</span></p>
							<p><span style="font-weight: 300;">FUPs: 175</span></p>
							</td>
							</tr>
							<tr>
							<td>
							<p><strong>Quarterly</strong></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: Rs. 2,998</span></p>
							<p><span style="font-weight: 300;">FUPs: 125</span></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: Rs. 4,998</span></p>
							<p><span style="font-weight: 300;">FUPs: 210</span></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: 7,100</span></p>
							<p><span style="font-weight: 300;">FUPs: 300</span></p>
							</td>
							</tr>
							<tr>
							<td>
							<p><strong>Half Yearly</strong></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: Rs. 5,120</span></p>
							<p><span style="font-weight: 300;">FUPs: 250</span></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: Rs. 8,990</span></p>
							<p><span style="font-weight: 300;">FUPs: 400</span></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: 14,750</span></p>
							<p><span style="font-weight: 300;">FUPs: 600</span></p>
							</td>
							</tr>
							<tr>
							<td>
							<p><strong>Annual</strong></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: Rs. 9,990</span></p>
							<p><span style="font-weight: 300;">FUPs: 500</span></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: Rs. 15,549</span></p>
							<p><span style="font-weight: 300;">FUPs: 700</span></p>
							</td>
							<td>
							<p><span style="font-weight: 300;">Cost: 22,000</span></p>
							<p><span style="font-weight: 300;">FUPs: 1200</span></p>
							</td>
							</tr>
							</tbody>
							</table>
							<p>&nbsp;</p>	</header>							
							
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>How It Works</h2>
								<p>The PlanetClubs platform has been designed with user convenience, flexibility and simplicity in mind. The way it works is very simple, while the value it offers is enormous.</p>
								<div class="image"><img src="images/steps_2_level.png" alt="" /></div>
							</header>
							
							<ul class="features">
								<li class="icon fa-download">
									<h3>Step 1: Download app</h3>
									<p>Download and install the PlanetClubs app from Google Play Store. This is a very simple app that does all the heavy lifting of looking for clubs, clocking your times, and managing your membership with us. </p>
								</li>
								<li class="icon fa-search">
									<h3>Step 2: Buy a membership</h3>
									<p>We offer several options- monthly, quarterly, half yearly or annual, across three categories of clubs- Silver, Gold and Platinum. Look at your preferences, clubs around your area and your budget, to decide on your category. 
</p>
								</li>
								<li class="icon fa-qrcode">
									<h3>Step 3: Enroll with a club</h3>
									<p>Locate a club or a facility to use. You may do so by a variety of filters, including location, and type of facility (gym, karate center, yoga, resort etc.). Once you go through all that is on offer, decide on any one of them. And Enroll with them on their respective Club screen, in the app. Your enrollment gives you certain bonus Free Usage Privileges (FUPs) too. </p>
								</li>
								<li class="icon fa-check">
									<h3>Step 4: Check-in to the club</h3>
									<p>Just walk over to the partner club where you enrolled, and scan the QR code with your phone. This will record the fact that you have started to use the facility. Alternatively, you may also select it manually from the list. If you walk into a club that is different from the one you enrolled in, then you will have to use your FUPs. </p>
								</li>
								<li class="icon fa-share-alt">
									<h3>Step 5: Club approves</h3>
									<p>The club needs to approve your check-in. Once done, your attendance is recorded. If you had checked-in using FUPs, the corresponding FUPs are deducted from your account and transferred to the club. </p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Step 6: Brag about it!</h3>
									<p>We encourage you to share your experience with others, using the simple social sharing option in your app. Let the world know that you are doing something good…no, great.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
<!-- 					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Subscribe to hear from us.</h2>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section> -->