<!-- Main -->
					<article id="main">
						<header>
							<h2>Refund Policy</h2>							
						</header>
						<section class="wrapper style5">
							<div class="inner">
														
								<p><span style="font-weight: 400;">We will refund your subscription subject to the following conditions: </span></p>
								<ol>
								<li style="font-weight: 400;"><span style="font-weight: 400;">The refund request is raised at most 48 hours after the purchase. Refund request is deemed to have been successfully raised only if you get a confirmation message in your app, and in the registered email of the user </span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">The user has not enrolled into any club yet </span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">Refunds are ONLY made as an online account transfer to the user&rsquo;s bank account, whose details need to be provided from the registered email Id. Also, the bank account must be in the name of the user (as registered in the Planet Clubs app). No other forms of refund (cash or cheque) will be possible</span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">Any typo or other errors in the bank details as provided to us for refund will not be our responsibility. Kindly double check all details before sending them to us </span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">The refund may take between 2 and 5 working days to reflect in your bank account, after completion of review and backoffice processing on our side </span></li>
								<li style="font-weight: 400;"><span style="font-weight: 400;">Corporate users will be refunded only the amount they paid, and not the amount subsidized by their company </span></li>
								</ol>
							</div>
						</section>
								
					</article>